@import '../../../../../styles/general';

.about-us-container {
    margin-top: 10%;
    background-color: $dark-background;
    color: $light-text;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: normal;
    flex-wrap: wrap;
    padding: 80px 300px;
    padding-top: 8%;
    margin-bottom: 10%;
    padding-left: 8%;
    padding-right: 8%;
}

.big-text {
    font-size: 55px;
    font-weight: bold;
}

.small-text {
    font-size: 26px;
    padding-top: 3%;
}

/* media query for responsiveness */

@media screen and (max-width: 1108px) {
    .big-text {
        font-size: 45px;
    }
    
    .small-text {
        font-size: 20px;
    }

}

@media screen and (max-width: 760px) {
    .about-us-container {
        padding: 67px 200px;
        padding-left: 6%;
        padding-right: 6%;
    }
    
    .big-text {
        font-size: 35px;
    }
    
    .small-text {
        font-size: 16px;
        padding-top: 2%;
    }
   
}

@media screen and (max-width: 460px) {
    .about-us-container {
        padding: 40px 130px;
        padding-top: 5%;
        margin-bottom: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .big-text {
        font-size: 23px;
    }
    
    .small-text {
        font-size: 10px;
    }
}

@media screen and (max-width: 330px) {    
    .about-us-container {
        padding: 20px 90px;
        padding-left: 3%;
        padding-right: 3%;
    }

    .big-text {
        font-size: 9px;
        padding-bottom: 1%;
    }

    .small-text {
        font-size: 6px;
        padding-top:1%;
    }
}