@import '../../../../../styles/general';

.about-us-container {
    margin-top: 100px;
    background-color: $dark-background;
    color: $light-text;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: normal;
    flex-wrap: wrap;
    padding: 80px 300px;
    padding-top: 80px;
    margin-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px;
}

.big-text {
    font-size: 72px;
    font-weight: bold;
}

.small-text {
    font-size: 36px;
    padding-top: 50px;
}

.proud-container {
    display: flex;
    line-height: normal;
    margin-bottom: 60px;
}

.proud-text {
    font-size: 144px;
    font-weight: bold;
    color: $dark-text;
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    line-height: normal;
}

/* media query for responsiveness */

@media screen and (max-width: 760px) {
    .about-us-container {
        margin-top: 10%;
        padding: 67px 200px;
        padding-top: 10%;
        margin-bottom: 10%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .big-text {
        font-size: 50px;
    }
    
    .small-text {
        font-size: 26px;
        padding-top: 10%;
    }
    
    .proud-container {
        margin-bottom: 12%;
    }
    
    .proud-text {
        font-size: 90px;
        padding-left: 10%;
        padding-right: 10%;
    }
   
}

@media screen and (max-width: 460px) {
    .about-us-container {
        margin-top: 10%;
        padding: 40px 130px;
        padding-top: 10%;
        margin-bottom: 10%;
        padding-left: 10%;
        padding-right: 10%;
    }
    
    .big-text {
        font-size: 26px;
    }
    
    .small-text {
        font-size: 16px;
        padding-top: 5%;
    }
    
    .proud-container {
        margin-bottom: 8%;
    }
    
    .proud-text {
        font-size: 40px;
        padding-left: 5%;
        padding-right: 5%;
    }
    
}