<div class="intro-container drop-shadow">
    <span class="big-text">
        We Are Gallimore Software
    </span>
    <span class="small-text">
        Gallimore Software was created to help businesses accelerate development. We can engineer a system from the ground up, customize open source software, or update your existing application. We can customize everything for you. Our team creates custom mobile and web applications designed for all devices and built to scale on the cloud. 
    </span>
</div>
