<div class="contact-section">
    <img src="./../../../assets/location-map.png" alt="map" class="location-map">
    <div class="contact-container drop-shadow">
        <form class="form-container" [formGroup]="contactForm">
            <mat-form-field appearance="fill">
                <mat-label>WHAT IS YOUR COMPANY NAME OR PROJECT NAME?</mat-label>
                <input formControlName="company" matInput placeholder="WHAT IS YOUR COMPANY NAME OR PROJECT NAME?">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>WHAT IS YOUR NAME?</mat-label>
                <input formControlName="name" matInput placeholder="WHAT IS YOUR NAME?">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>WHAT IS YOUR EMAIL?</mat-label>
                <input formControlName="email" matInput placeholder="WHAT IS YOUR EMAIL?">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>WHAT IS YOUR PHONE NUMBER?</mat-label>
                <input formControlName="phone" matInput placeholder="WHAT IS YOUR PHONE NUMBER?">
            </mat-form-field>
            <mat-form-field appearance="fill" id="message-us">
                <mat-label>MESSAGE</mat-label>
                <textarea formControlName="message" matInput></textarea>
            </mat-form-field>
            <button type="button" (click)="click()">Submit</button>
        </form>
        <div class="contact-info-container">
            <div>
                Contact Us
            </div>    
            <div>
                Call Us
            </div>
            <div>
                Mail Us
            </div>
        </div>
    </div>
</div>