<div class="contact-section">
    <img src="./../../../assets/location-map.png" alt="map" class="location-map">      <div class="contact-container" drop-shadow>
        <form class="form-container" [formGroup]="contactForm">
            <div>
                <p id="get-in-touch">
                    Get in touch today. We are ready to help!
                </p>
            </div>
            <mat-form-field appearance="none">
                <mat-label>WHAT IS YOUR COMPANY NAME OR PROJECT NAME?</mat-label>
                <input formControlName="company" matInput placeholder="WHAT IS YOUR COMPANY NAME OR PROJECT NAME?">
            </mat-form-field>
            <mat-form-field appearance="none">
                <mat-label>WHAT IS YOUR NAME?</mat-label>
                <input formControlName="name" matInput placeholder="WHAT IS YOUR NAME?">
            </mat-form-field>
            <mat-form-field appearance="none">
                <mat-label>WHAT IS YOUR EMAIL?</mat-label>
                <input formControlName="email" matInput placeholder="WHAT IS YOUR EMAIL?">
            </mat-form-field>
            <mat-form-field appearance="none">
                <mat-label>WHAT IS YOUR PHONE NUMBER?</mat-label>
                <input formControlName="phone" matInput placeholder="WHAT IS YOUR PHONE NUMBER?">
            </mat-form-field>
            <mat-form-field appearance="none" id="message-us">
                <mat-label>MESSAGE</mat-label>
                <textarea formControlName="message" matInput></textarea>
            </mat-form-field>
        </form>
        <div class="middle">
            <div>
                <img src="./../../../assets/message-us-icon.png" alt="" id="message-us-icon">
            </div>
            <div>
                <button mat-button type="button" (click)="click()" id="submit-button">Submit</button>
            </div>
        </div>
        <div class="contact-info-container">
            <div>
                <p id="contact-us-title">Contact Us</p>
            </div>    
            <div>
                <a href="tel:+13306072474" id="call-us-button"><img src="./../../../assets/call-us-icon.png">(330)607-2474</a>
            </div>
            <div>
                <a href="mailto:nick@gallimoresoftware.com" id="mail-us-button"><img src="./../../../assets/mail-us-icon.png">team@gallimoresoftware.com</a>
            </div>
        </div>
    </div>
</div>