@import '../../../styles/general';

.contact-section {
    display: flex;
    margin-top: 10px;
    background-color: $light-background;
    color: $light-text;
    justify-content: center;
    position: relative;
}

.contact-container {
    display: flex;
    margin-left: 10%;
    margin-right: 5%;
    justify-content: space-between;
    position: absolute;
    top: 170px;
    background-color: $light-background;
    width: 80%;
    height: 110%;
}

.form-container {
    background-color: $light-background;
    align-content: center;
    width: 180%;
    border: 2px solid #FFFFFF;
    padding: 25px;
    color: $dark-text;
}

.contact-info-container {
    background-color: $dark-background;
    width: 100%;
    padding: 25px 0;
    display: grid;
    justify-content: space-evenly;
    height: 550px;
}

form label {
    color: $dark-text;
    display: block;
}

#message-us {
    box-sizing: border-box;
    background: transparent;
    border-radius: 6px;
    border: 2px solid #C5C8D3;
    width: 100%;
    height: 200px;

}

.radios {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 40px;
}

.location-map {
    width: 100%;
}

mat-form-field {
    display: block;
}

#mat-label {
    display: block;
    font-size: 36px;
    font-weight: bold;
}

input {
    border: 2px solid #C5C8D3;
}

#message-us-icon {
    padding: 25px;
}

#message-box-section {
    display: flex;
}

#submit-button {
    padding: 5px;
    margin: 330px 0;
    background-color: $dark-background;
}

.middle {
    display: block;
}

#call-us-button {

}

#mail-us-button {

}

#get-in-touch {
    font-size: larger;
    font-weight: bold;
    padding: 5px 0;
}