@import '../../../../../../../styles/general';

.technologies-we-use-container {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    line-height: normal;
    width: 100%;
    color: $dark-text;
    padding: 50px 0;
}

.technologies-we-use-text {
    padding-top: 2%;
    font-size: 20px;
}

.technologies-we-use-title {
    font-size: 20px;
    margin: 10px 10px 50px;
    width: 250px;
    display: flow-root;
}

.technologies-we-use-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 0 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.technologies-we-use-borders {
    box-sizing: border-box;
    background: transparent;
    border: 2px solid #002687;
    border-radius: 6px;
}

.technologies-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}