<div class="technologies-we-use-container">
    <div>
        <div>We Excel At Quality Software Development</div>
        <div class="technologies-we-use-text">Our work on a project includes software development, testing, support, and maintenance. We build software on time, with the latest technologies. <br><br><br><i>Contact us now for a quote.</i></div>
    </div>
    <div class="technologies-we-use-icons">        
        <div class="technologies-we-use-borders" *ngFor="let technology of technologies;">
            <app-technologies-we-use-item [technology]="technology"></app-technologies-we-use-item>
        </div>
    </div>
</div>