<app-header></app-header>
<app-nav></app-nav>
<div class="technologies-we-use-container">
    <div>
        <div>Excel At Quality Software Development</div>
        <div class="technologies-we-use-text">Our work on a project includes software development, testing, support, and maitenance. We build software in time, applying the latest technoliges that optmizes your work processes.</div>
    </div>
    <div class="technologies-we-use-icons">        
        <div class="technologies-we-use-borders" *ngFor="let technology of technologies;">
            <app-technologies-we-use-item [technology]="technology"></app-technologies-we-use-item>
        </div>
    </div>
</div>