@import '../../../../../styles/general';

.proud-container {
    display: flex;
    line-height: normal;
    margin-bottom: 40px;
    justify-content: center;
}

.proud-text {
    display: flex;
    font-size: 60px;
    font-weight: bold;
    color: $dark-text;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
}

/* media query for responsiveness */

@media screen and (max-width: 1269px) {
    .proud-text {
        font-size: 43px;
    }
}

@media screen and (max-width: 849px) {
    .proud-container {
        margin-bottom: 25px;
    }
    
    .proud-text {
        font-size: 27px;
        padding-left: 12%;
    }
}

@media screen and (max-width: 533px) {
    .proud-container {
        margin-bottom: 15px;
    }
    
    .proud-text {
        font-size: 16.7px;
        text-align: center;
    }
}

@media screen and (max-width: 330px) {    
    .proud-container {
        margin-bottom: 8px;
    }
    
    .proud-text {
        font-size: 10px;
        padding-left: 15%;
        text-align: center;
    }
}