<div class="contact-container drop-shadow">
    <div>
        <span class="contact-text">
            Contact Us
        </span>
    </div>
</div>
    <div>
        <span class="location-map">

        </span>
    </div>
    <div class="contact-container">
        <span>        
            <form action="">
                <input type="text" name="WHAT IS YOUR COMPANY NAME OR PROJECT NAME?" id="">
                <input type="text" name="WHAT IS YOUR NAME?" id="">
                <input type="text" name="WHAT IS YOUR EMAIL?" id="">
                <input type="tel" name="WHAT IS YOUR PHONE NUMBER?" id="">
                <input type="radio" name="WHAT CAN WE DO FOR YOU?" id="" value="Create an amazing new project from scratch">
                <input type="radio" name="WHAT CAN WE DO FOR YOU?" id="" value="Make my product even better">
                <input type="radio" name="WHAT CAN WE DO FOR YOU?" id="" value="Something else">
                <input type="radio" name="WHAT IS YOUR BUDGET?" id="" value="less than $25,000">
                <input type="radio" name="WHAT IS YOUR BUDGET?" id="" value="$25,000 - $50,000">
                <input type="radio" name="WHAT IS YOUR BUDGET?" id="" value="$50,000 - $100,000">
                <input type="radio" name="WHAT IS YOUR BUDGET?" id="" value="$100,000 or more">
                <input type="radio" name="WHAT IS YOUR BUDGET?" id="" value="To be determined">
                <input type="text" name="MESSAGE US?" id="">
                <input type="button" value="submit">

            </form>
        </span>
    </div>    
    <div>
    <span class="form-container">
        <span class="form-text">

        </span>

    </span>
</div>
