<div class="what-we-do-container drop-shadow">
    <span class="what-we-do-header">
        What We Do
    </span>
</div>
<div class="what-we-do">
    <span class="what-we-do-text-small">
        <p>Mobile Apps</p>

        <p>For businesses of all sizes and industries, we can custom design an application to fit your needs.</p>
    </span>
</div>
<div class="what-we-do">
    <span class="what-we-do-text-small">
        <p>Desktop Apps</p>

        <p>For businesses of all sizes and industries, we can engineer an  application to fit your needs.</p>
    </span>
</div>
<div class="what-we-do">
    <span class="what-we-do-text-small">
        <p>Software Consulting</p>

        <p>Software consulting is most often used when a company needs an outside, expert opinion regarding a business decision.</p>
    </span>
</div>

<div class="what-we-do">
    <span class="what-we-do-text-small">
        <p>Custom Software</p>

        <p>We are here to help you with everything from building an e-commerce application to developing the most complex web-based internet applications or social network. We can engineer a system from the ground up, customize open source software, or update your existing application. We can customize everything for you.</p>
    </span>
</div>

<div class="what-we-do">
    <span class="what-we-do-text-small">
        <p>Web Apps</p>

        <p>We are here to help you with everything from building an e-commerce application to developing the most complex web-based internet applications or social network. We can engineer a system from the ground up, customize open source software, or update your existing application. We can customize everything for you.</p>
    </span>
</div>

<div class="what-we-do-excel">
    <span class="what-we-do-text-small">
        <p>We Excel At Quality Software Development</p>

        <p>Our work on a project includes software development, testing, support, and maitenance. We build software in time, applying the latest technoliges that optmizes your work processes.</p>
    </span>
</div>