<div class="what-we-do-container drop-shadow">
    <span class="what-we-do-header">
        What We Do
    </span>
</div>
<div class="what-we-do">
<app-what-we-do-item>
    [imageURl]=@assets/mobile.png
    [textContent]="For businesses of all sizes and industries, we can custom design an application to fit your needs."
    [title]="Mobile Apps"
    [altText]="Mobile apps">
</app-what-we-do-item>
<div>
    <div class="what-we-do-icon">
        <img src="../../../../assets/mobile.png"/>
    </div>
    <div class="what-we-do-title">Mobile Apps</div>
    <div class="what-we-do-text-small">For businesses of all sizes and industries, we can custom design an application to fit your needs.</div>
</div>
<div>
    <div class="what-we-do-icon"><img src="../../../../assets/desktop.png" alt=""/></div>
    <div class="what-we-do-title">Desktop Apps</div>
    <div class="what-we-do-text-small">For businesses of all sizes and industries, we can engineer an  application to fit your needs.</div>
</div>
<div>
    <div class="what-we-do-icon"><img src="../../../../assets/software.png" alt="Software icon"/> </div>
    <div class="what-we-do-title">Software Consulting</div>
    <div class="what-we-do-text-small">Software consulting is most often used when a company needs an outside, expert opinion regarding a business decision.</div>
</div>
<div>
    <div class="what-we-do-icon"><img src="../../../../assets/sbw.png" alt=""/> </div>
    <div class="what-we-do-title">Small Business Websites</div>
    <div class="what-we-do-text-small">WordPress is a free and open-source content management system written in PHP and paired with a MySQL or MariaDB database. Software consulting is most often used when a company needs an outside, expert opinion regarding a business decision.</div>
</div>
<div>
    <div class="what-we-do-icon"><img src="../../../../assets/custom.png" alt=""/> </div>
    <div class="what-we-do-title">Custom Software</div>        
    <div class="what-we-do-text-small">We are here to help you with everything from building an e-commerce application to developing the most complex web-based internet applications or social network. We can engineer a system from the ground up, customize open source software, or update your existing application. We can customize everything for you.</div>
</div>

<div>
    <div class="what-we-do-icon"><img src="../../../../assets/help.png" alt=""/> </div>
    <div class="what-we-do-title">Web Apps</div>
    <div class="what-we-do-text-small">We are here to help you with everything from building an e-commerce application to developing the most complex web-based internet applications or social network. We can engineer a system from the ground up, customize open source software, or update your existing application. We can customize everything for you.</div>
</div>
</div>
<div class="what-we-do-excel">
    <div>
        We Excel At Quality Software Development <br> Our work on a project includes software development, testing, support, and maitenance. We build software in time, applying the latest technoliges that optmizes your work processes.
    </div>
</div>